<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />

<div class="row">
  <div class="col">
    <table class="table table-bordered table-sm">
      <thead class="table-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>slice:8:12</td>
          <td>{{ nombre | slice : 8 : 15 }}</td>
        </tr>

        <tr>
          <td>{{ nombre2 }}</td>
          <td>capitalizado</td>
          <td>{{ nombre2 | capitalizado : "first" }}</td>
        </tr>

        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>

        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ porcentaje | percent : "2.2-2" }}</td>
        </tr>

        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>

        <!-- 
          Consultar https://es.wikipedia.org/wiki/ISO_4217
          para ver monedas de los paises. Columna "Codigo"
          -->
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'MXN $':'symbol':'.0-0'</td>
          <td>{{ salario | currency : "MXN $" : "symbol" : ".0-0" }}</td>
        </tr>

        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date : "medium" }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date : "short" }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - dd':'':'es'</td>
          <td>{{ fecha | date : "MMMM - dd" : "" : "es" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>JSON</h3>
<hr />
<div class="row">
  <div class="col">
    <pre>
      {{ persona | json }}
    </pre>
  </div>
</div>


